@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    background-color: #212529;
    /* background-color: linear-gradient(45deg,#0a0a0a,#3a4452); */
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}

h1{
    
    color: rgb(206, 194, 194);
    margin-bottom: 20px;
}

table{
    /* border : 1px solid black; */
    border-collapse: collapse;

    /* margin-left: auto;
    margin-right: auto; */
}

input[type="button"]{
    width: 100%;
    padding: 30px 40px;
    background-color: #2c2f33; 
    /* font-family: "Poppins", serif; */
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 3px 15px rgba(75, 76, 80, 0.5);
    background: transparent;
    cursor: pointer;

    
}

input[type="text"]
{
    background-color: #212529;
    color: rgb(198, 189, 189);
    padding: 20px 43px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    /* border: 2px solid rgb(121, 101, 101); */
    box-shadow: 0px 3px 15px rgba(75, 76, 80, 0.5);
    background: transparent;
}



#c{
    /* background-color: #fb7c14; */
    color: #6dee0a;
}
#divided{
    /* background-color: #fb7c14; */
    color: #6dee0a;
}

#multiply{
    /* background-color: #fb7c14; */
    color: #6dee0a;
}

#sub{
    /* background-color: #fb7c14; */
    color: #6dee0a;
}

#add{
    color: #6dee0a;
}

#equals{
    color: #6dee0a;
}
